.K_complete { background:#fff; display:none; border:1px solid #ccc; z-index:9999;}
.K_complete ul { list-style:none; font-size:12px; font-family:Verdana, Geneva, sans-serif; padding: 0; margin: 0;}
.K_complete ul li { cursor:default; text-indent:3px; text-align:left; overflow:hidden;}
.K_complete ul li:hover, .K_complete ul .active {background:#eee;}

.list-menu {
  text-align: center;
}
.func{
  display: none;
  padding-top: 20px;
}
.center{
  text-align: center;
}
.table-pointer td{
  cursor: pointer;
}

footer{
  text-align: center;
  height: 150px;
  background-color: whitesmoke;
  padding: 65px 0px;
  border: 1px solid #ccc;
  border-radius: 20px 20px 20px 20px;
}