<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <include file="./Public/Tpl/head.html" title="调价管理" description="药品管理系统." keywords="中南民族大学,药品管理系统"/>
</head>
<body>
<include file="./Public/Tpl/nav.html"/>
<div class="container">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">功能</div>
      <div class="list-group list-menu">
        <button type="button" class="list-group-item list-menu active" data-to="0">调价记录</button>
        <button type="button" class="list-group-item list-menu" data-to="1">药品调价</button>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default func">
      <div class="panel-heading" style="text-align: center">调价记录</div>
      <table class="table table-hover">
        <thead>
        <tr><th>调价编号</th><th>库存编号</th><th>药品名称</th><th>规格</th><th>单位</th><th>旧价格</th><th>新价格</th><th>调价时间</th><th>操作员</th></tr>
        </thead>
        <tbody id="adjustList">
        {$adjustList}
        </tbody>
      </table>
      <div id="adjustPage" class="center">
        <nav>
          <ul class="pagination">
            <for start="1" end="$adjustListCount+1">
              <li><a href="#" data-to="{$i}">{$i}</a></li>
            </for>
          </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default func">
      <div class="panel-heading" style="text-align: center">药品调价</div>
      <div class="penel-body text-danger">调价请到库存页面:<a href="{:U('Store/Stock')}">点击跳转</a> </div>
    </div>
  </div>
</div>
<include file="./Public/Tpl/footer.html"/>
<script>
  $(document).ready(function () {
    //加载更多
    $("#adjustPage li").on("click", function (ev) {
      NOW_PAGE = ev.target.getAttribute("data-to");
      loadMore("#adjustList", "{:U('Index/getAdjustList')}", NOW_PAGE);
    });

  });
</script>
</body>
</html>