<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <include file="./Public/Tpl/head.html" title="基本信息管理" description="药品管理系统." keywords="中南民族大学,药品管理系统"/>
</head>
<body>
<include file="./Public/Tpl/nav.html"/>
<div class="container">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">功能</div>
      <div class="list-group list-menu">
        <button type="button" class="list-group-item list-menu active" data-to="0">药店信息</button>
        <button type="button" class="list-group-item list-menu" data-to="1">药品</button>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-info func">
      <div class="panel-heading" style="text-align: center">{$store.storename}</div>
      <div class="panel-body">
        <p>{$store.storename}的简介在这里</p>
      </div>
      <table class="table table-hover">
        <tr><td>店铺联系方式:</td><td>{$store.telephone}</td></tr>
        <tr><td>店长手机号码:</td><td>{$store.mobile}</td></tr>
        <tr><td>店铺地址:</td><td>{$store.address}</td></tr>
      </table>
    </div>
    <div class="panel panel-default func">
      <div class="panel-heading" style="text-align: center">药品信息库</div>
      <table class="table table-hover">
        <thead>
        <tr><th>药品编号</th><th>药品名称</th><th>拼音码</th><th>规格</th><th>单位</th><th>最低限数量</th></tr>
        </thead>
        <tbody id="drugList">
        {$drugList}
        </tbody>
      </table>
      <div id="drugPage" class="center">
        <nav>
          <ul class="pagination">
            <for start="1" end="$drugListCount+1">
              <li><a href="#" data-to="{$i}">{$i}</a></li>
            </for>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Modal -->
    <div class="modal fade" id="drugModal" tabindex="-1" role="dialog" aria-labelledby="drugModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="drugModalLabel">药品名</h4>
          </div>
          <div class="modal-body">
            <form id="drugForm" class="form-horizontal">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                  <input name="name" type="text" class="form-control" id="inputName" placeholder="读取错误" autocomplete="off">
                  <input name="drug_id" type="hidden" class="form-control" id="inputDrugId">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPinYinMa" class="col-sm-2 control-label">拼音码</label>
                <div class="col-sm-10">
                  <input name="pinyinma" type="text" class="form-control" id="inputPinYinMa" placeholder="读取错误" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label for="inputSpec" class="col-sm-2 control-label">规格</label>
                <div class="col-sm-10">
                  <input name="spec" type="text" class="form-control" id="inputSpec" placeholder="读取错误" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label for="inputUnit" class="col-sm-2 control-label">单位</label>
                <div class="col-sm-10">
                  <input name="unit" type="text" class="form-control" id="inputUnit" placeholder="读取错误" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label for="inputLowWarning" class="col-sm-2 control-label">低限警告</label>
                <div class="col-sm-10">
                  <input name="lowwarning" type="text" class="form-control" id="inputLowWarning" placeholder="读取错误" autocomplete="off">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="saveChange" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="./Public/Tpl/footer.html"/>
<script>
  $(document).ready(function () {
    //加载更多
    $("#drugPage").on("click","li", function (ev) {
      NOW_PAGE = ev.target.getAttribute("data-to");
      loadMore("#drugList", "{:U('Index/getDrugList')}", NOW_PAGE);
      $(this).addClass("active");
      $(this).siblings().removeClass("active");
    });
    //点击库存列表填充模态框
    $("#drugList").on("click","tr", function (ev) {
      $("#drugModalLabel").html("药品编号: "+$(this).find("td")[0].innerHTML);
      $("#inputDrugId").attr("value",$(this).find("td")[0].innerHTML);
      $("#inputName").attr("value",$(this).find("td")[1].innerHTML);
      $("#inputPinYinMa").attr("value",$(this).find("td")[2].innerHTML);
      $("#inputSpec").attr("value",$(this).find("td")[3].innerHTML);
      $("#inputUnit").attr("value",$(this).find("td")[4].innerHTML);
      $("#inputLowWarning").attr("value",$(this).find("td")[5].innerHTML);
    });
    //响应保存提交事件
    $("#saveChange").on("click", function (ev) {
      var lowWarning = $("#inputLowWarning").val();
      if(lowWarning == "" || isNaN(lowWarning)){
        alert("低限必须填写且只能为整数!");
      }else{
        //提交事件
        var Form = $("#drugForm");
        $.ajax({
          url:"{:U('Drug/doChangeInfo')}",
          data:Form.serialize(),
          datatype:"json",
          type:"POST",
          beforeSend:function(){

          },
          success:function(data){
            console.log(data);
            if(data['code'] == 200){
              $("#drugModal").modal('toggle');
              loadMore("#drugList","{:U('Index/getDrugList')}",NOW_PAGE);
              Form[0].reset();
              alert("修改成功!");
            }else{
              alert("处理失败了!原因:"+data['msg']);
            }
          },
          error:function(){
            alert("提交过程中发生问题! 请联系管理员");
          }
        })
      }
    })

  });
</script>
</body>
</html>