<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <include file="./Public/Tpl/head.html" title="销售管理" description="药品管理系统." keywords="中南民族大学,药品管理系统"/>
</head>
<body>
<include file="./Public/Tpl/nav.html"/>
<div class="container">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">功能</div>
      <div class="list-group list-menu">
        <button type="button" class="list-group-item list-menu active" data-to="0">销售药品</button>
        <button type="button" class="list-group-item list-menu" data-to="1" onclick="loadList()">销售记录</button>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div id="sell_app" class="panel panel-default func">
      <div class="panel-heading" style="text-align: center">销售</div>
      <div class="panel-body text-info">
        <form id="sellForm" class="form-horizontal">
          <div class="form-group">
            <label for="buyyer" class="col-sm-2 control-label">购方单位:</label>
            <div class="col-sm-10" data-toggle="tooltip" data-placement="top" title="发票抬头">
              <input :value="buyyer" v-model="buyyer" name="buyyer" type="text" class="form-control" id="buyyer" placeholder="">
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
            <th style="width: 15%;">拼音码</th>
            <th style="width: 22%;">名称</th>
            <th style="width: 15%">规格大小</th>
            <th style="width: 8%;">单位</th>
            <th style="width: 10%;">单价</th>
            <th style="width: 10%;">数量</th>
            <th style="width: 10%;">小计</th>
            <th style="width: 10%;">操作</th>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="" data-toggle="tooltip" data-placement="top">
                  <input @keyup="pinyin" @change="pinyin" name="pinyinma[]" type="text" class="form-control" placeholder="拼音码" autocomplete="off">
                  <input v-model="input_data.stock_id" name="stock_id[]" type="hidden" class="form-control">
                </div>
              </td>
              <td>
                <div class="">
                  <input v-model="input_data.name" name="name[]" type="text" class="form-control" readonly placeholder="药品名称" tabindex="-1">
                </div>
              </td>
              <td>
                <input v-model="input_data.spec" name="spec[]" type="text" class="form-control" readonly placeholder="规格" tabindex="-1">
              </td>
              <td>
                <input v-model="input_data.unit" name="unit[]" type="text" class="form-control" readonly placeholder="单位" tabindex="-1">
              </td>
              <td>
                <input v-model="input_data.price" name="price[]" type="text" class="form-control" readonly placeholder="0.00" tabindex="-1">
              </td>
              <td>
                <input v-model="input_data.amount" @keyup="calcu" name="amount[]" type="number" class="form-control" placeholder="0">
              </td>
              <td>
                <input v-model="input_data.subtotal" name="subtotal[]" type="number" class="form-control" readonly placeholder="自动计算..." tabindex="-1">
              </td>
              <td style="text-align: center;line-height: 34px;">
                <span @click="add" style="cursor: pointer">新增</span>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <thead>
            <th>名称</th>
            <th>规格</th>
            <th>单位</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            </thead>
            <tbody>
            <tr v-for="(item,index) in list" :data-index="index">
              <td>
                <span>{{item.name}}</span>
              </td>
              <td>
                <span>{{item.spec}}</span>
              </td>
              <td>
                <span>{{item.unit}}</span>
              </td>
              <td>
                <span>{{item.price}}</span>
              </td>
              <td>
                <span>{{item.amount}}</span>
              </td>
              <td>
                <span>{{item.subtotal}}</span>
              </td>
              <td style="text-align: center;line-height: 34px;">
                <span @click="remove(index)" style="cursor: pointer;color: #e34a17">移除</span>
                <!--<span @click="add(index)" style="cursor: pointer">新增</span>-->
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-sm-10">
            总计:<span id="totalPrice">{{totalPrice}}</span>元
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button @click="doSell" id="doSell" type="button" class="btn btn-success submit">确认销售</button>
              <button @click="reset" type="button" class="btn btn-warning">清空输入</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default func" id="sellList">
      <div class="panel-heading" style="text-align: center">销售记录</div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>销售码</th>
          <th>订单编号</th>
          <th>药品名称</th>
          <th>规格</th>
          <th>单位</th>
          <th>单价</th>
          <th>数量</th>
          <th>总额</th>
          <th>销售日期</th>
          <th>操作员</th>
          <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="info in list">
          <td>{{ info.sell_id }}</td>
          <td>{{ info.orderno }}</td>
          <td>{{ info.name }}</td>
          <td>{{ info.spec }}</td>
          <td>{{ info.unit }}</td>
          <td>{{ info.price }}</td>
          <td>{{ info.sell_amount }}</td>
          <td>{{ info.subtotal }}</td>
          <td>{{ info.time }}</td>
          <td>{{ info.realname }}</td>
          <td v-if="info.sell_status == 1">退货</td>
          <td v-else>正常</td>
        </tr>
        </tbody>
      </table>
      {$show}
      <div id="sellPage" class="center">
        <nav>
          <ul class="pagination">
            <li v-for="i in count">
              <a href="javascript:" :data-to="i">{{ i }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<iframe id="ifm" style="display: none"></iframe>
<include file="./Public/Tpl/footer.html"/>
<js href="__PUBLIC__/js/jquery.Kcomplete-1.1.js"/>
<script>
    var apiData = {
        size:10,
        page:1,
        do:'loadmore',
    };
    var sellList = {list: [], count: 10};
    var sell_record = new Vue({
        el: '#sellList',
        data: sellList
    });
    var sell_obj = {pinyinma:"",stock_id:"",name:"",spec:"",unit:"",price:"",amount:"",subtotal:""};
    var sellData = {list:[],buyyer:"",totalPrice:0.0,input_data:sell_obj};
    var sell_app = new Vue({
        el: '#sell_app',
        data: sellData,
        methods:{
            add:function(){
                var stock_id = this.input_data.stock_id;
                var price = this.input_data.price;
                var amount = this.input_data.amount;
                var subtotal = this.input_data.subtotal;
                if(stock_id!= "" && price != "" && amount != "" && amount > 0){
                    this.input_data = $.extend({},sell_obj);
                    for(var i=0;i<this.list.length;i++){
                        var item = this.list[i];
                        if(item.stock_id == stock_id){
                            item.amount += amount;
                            item.subtotal = (parseFloat(item.subtotal)+parseFloat(subtotal)).toFixed(2);
                            layer.msg("合并到"+item.name);
                            return true;
                        }
                    }
                    var d = $.extend({},sell_app.input_data);console.log(d);
                    this.list.push(d);
                }else{
                    layer.msg("键入信息不完整或有误",{icon:2});
                }
            },
            remove:function(index){
                sell_app.list.splice(index,1);
            },
            reset:function(e){
                layer.confirm('确定要清空本次销售列表？', {
                    btn: ['确认', '取消'] //按钮
                },function(lay){
                        sell_app.list = [];
                        layer.close(lay);
                    }
                )
            },
            calcu:function(index){
                var Price = this.input_data.price;
                var num = this.input_data.amount;
                if (num !== "" && Price.value != "") {
                    var subTotal = (num * Price).toFixed(2);
                    this.input_data.subtotal = subTotal;
                }
                /*var add = 0
                for (var i = 0; i < sell_app.list.length; i++) {
                    add += parseFloat(sell_app.list[i].subtotal);
                }
                sell_app.totalPrice = add;*/
            },
            pinyin:function(e){
                console.log(e.target.value);
                if (e.target.value == "") {
                    return;
                }
                setTimeout(function(){
                    sell_app.input_data.subtotal = "";
                    sell_app.input_data.pinyinma = e.target.value;
                    $.ajax({
                        url: "{:U('Stock/getInfo')}",
                        data: "pinyinma=" + e.target.value,
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                            if (data['code'] == 200) {
                                var tempStockId = data.data.stock_id;
                                var tempName = data.data.name;
                                var tempSpec = data.data.spec;
                                var tempUnit = data.data.unit;
                                var tempSellprice = data.data.sellprice;
                            } else {
                                var tempName = data.msg;
                            }
                            sell_app.input_data.stock_id = tempStockId;
                            sell_app.input_data.name = tempName;
                            sell_app.input_data.spec = tempSpec;
                            sell_app.input_data.unit = tempUnit;
                            sell_app.input_data.price = tempSellprice;
                            sell_app.input_data.amount = '';

                        },
                        error: function () {
                        },
                    });
                },100);
            },
            doSell:function(){
                $.ajax({
                    url: "{:U('Sell/doAdd')}",
                    data: sellData,
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        this.layerIndex = layer.load(1,{ shade: [0.1, '#393D49'] });
                    },
                    success: function (data) {
//                    console.log(data);
                        if (data['code'] == 200) {
                            layer.msg("销售成功!",{icon:1});
                          /*layer.open({
                           type: 2,
                           title: '打印订单',
                           shadeClose: true,
                           shade: 0.8,
                           area: ['380px', '90%'],
                           content: data.data
                           });*/
                            $("#ifm").attr('src', data.data);
                            $("#sellForm")[0].reset();
//                        window.location.reload();
                        } else {
                            layer.msg(data.msg,{icon:2});
                        }
                    },
                    error: function () {
                        layer.msg("提交过程中发生问题! 请联系管理员",{icon:0});
                    },
                    complete:function(){
                        layer.close(this.layerIndex);
                    }
                })
            }
        },
    });
    function loadList(_param) {
        var defaultSetting=apiData;
        $.extend(defaultSetting,_param);
        $.ajax({
            type: 'POST',
            url: "{:U('Sell/getSellList')}",
            data: defaultSetting,
            dataType: 'json',
            async:false,
            success: function (rs) {
                if (rs.code == 200) {
                    sellList.list = rs.data.list;
                    sellList.count = Math.ceil(rs.data.count/apiData.size);
                }
            },
            beforeSend:function(){
                this.layerIndex = layer.load(1,{ shade: [0.1, '#393D49'] });
            },
            complete:function(){
                layer.close(this.layerIndex);
            }
        });
    }

    var pinyinbind = function(obj){
        //拼音码自动提示
        var t = $(obj);
        if(t.length>1)
          $(obj).each(function () {
              $(this).Kcomplete({
                  location: "{:U('Drug/nameTips')}",
                  dataType: 'json'
              });
          });
        else
            $(obj).Kcomplete({
                location: "{:U('Drug/nameTips')}",
                dataType: 'json'
            });
    };
    $(document).ready(function () {
        pinyinbind("input[name='pinyinma[]']");
        sell_app.$watch('list',function(newValue,oldValue){
            var add = 0
            for (var i = 0; i < sell_app.list.length; i++) {
                sell_app.list[i].subtotal = (sell_app.list[i].price*sell_app.list[i].amount).toFixed(2);
                add += parseFloat(sell_app.list[i].subtotal);
            }
            sell_app.totalPrice = add;
        });
        //加载更多
        layui.use(['laypage', 'layer'], function () {
            loadList();
            layer = layui.layer;
            laypage = layui.laypage;
            laypage({
                cont: 'sellPage'
                , pages: sellList.count
                , skin: '#337ab7'
                , skip: true
                ,jump: function (obj, first) {
                    if (!first) {
                        apiData['page'] = obj.curr;
                        loadList();
                    }
                }
            });
        });
        //提交事件
/*
        $("#doSell").on("click", function () {
            $.ajax({
                url: "{:U('Sell/doAdd')}",
                data: $("#sellForm").serialize(),
                datatype: "json",
                type: "POST",
                beforeSend: function () {
                    this.layerIndex = layer.load(1,{ shade: [0.1, '#393D49'] });
                },
                success: function (data) {
//                    console.log(data);
                    if (data['code'] == 200) {
                        layer.msg("销售成功!",{icon:1});
                        /!*layer.open({
                            type: 2,
                            title: '打印订单',
                            shadeClose: true,
                            shade: 0.8,
                            area: ['380px', '90%'],
                            content: data.data
                        });*!/
                        $("#ifm").attr('src', data.data);
                        $("#sellForm")[0].reset();
//                        window.location.reload();
                    } else {
                        layer.msg(data.msg,{icon:2});
                    }
                },
                error: function () {
                    layer.msg("提交过程中发生问题! 请联系管理员",{icon:0});
                },
                complete:function(){
                    layer.close(this.layerIndex);
                }
            })
        });
*/
        //自动算价
        /*$("input[name='amount[]']").on("keyup", function () {
            $Price = $(this).parents('tr').find("[name='price[]']");
            $allPrice = $(this).parents('tr').find("[name='subtotal[]']");
            if (this.value !== "" && $Price.val() != "") {
                var subTotal = (this.value * $Price.val()).toFixed(2);
                $allPrice.attr("value", subTotal);
            }
            $("#totalPrice").html("0");
            for (var i = 0; i < $("[name='subtotal[]']").length; i++) {
                var oldPrice = parseFloat($("#totalPrice").html());
                var add = parseFloat($("[name='subtotal[]']").eq(i).val());
                if (add)
                    $("#totalPrice").html((oldPrice + add).toFixed(2));
            }
        });*/
        //拼音码事件
        /*$("input[name='pinyinma[]']").bind("keyup change", function () {
            if (this.value == "") {
                return;
            }
            $pTr = $(this).parents('tr');
            var index_sub_total = $pTr.find("[name='subtotal[]']").attr("obj-index");
            var index_stock_id = $pTr.find("[name='stock_id[]']").attr("obj-index");
            var index_name = $pTr.find("[name='name[]']").attr("obj-index");
            var index_spec = $pTr.find("[name='spec[]']").attr("obj-index");
            var index_unit = $pTr.find("[name='unit[]']").attr("obj-index");
            var index_price = $pTr.find("[name='price[]']").attr("obj-index");
            set_data(sell_app,index_sub_total,"");
            $.ajax({
                url: "{:U('Stock/getInfo')}",
                data: "pinyinma=" + $(this).val(),
                datatype: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data['code'] == 200) {
                        var tempStockId = data.data.stock_id;
                        var tempName = data.data.name;
                        var tempSpec = data.data.spec;
                        var tempUnit = data.data.unit;
                        var tempSellprice = data.data.sellprice;
                    } else {
                        var tempName = data.msg;
                        var tempSpec = data.msg;
                        var tempUnit = data.msg;
                        var tempSellprice = data.msg;
                    }
                    set_data(sell_app,index_stock_id,tempStockId);
                    set_data(sell_app,index_name,tempName);
                    set_data(sell_app,index_spec,tempSpec);
                    set_data(sell_app,index_unit,tempUnit);
                    set_data(sell_app,index_price,tempSellprice);
                },
                error: function () {
                },
            })
        });*/

    });

    /*var set_data = function(appobj, target, value){
        var obj_index_arr = target.split('.');
        var obj_target = appobj;
        for(var i=0;i<obj_index_arr.length-1;i++){
            obj_target = obj_target[obj_index_arr[i]];
        }
        obj_target[obj_index_arr.pop()] = value;
    }*/
</script>
</body>
</html>