<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <include file="./App/Admin/View/Tpl/head.html" title="登录系统" description="药品管理系统." keywords="中南民族大学,药品管理系统"/>
</head>
<body>
<include file="./App/Admin/View/Tpl/nav.html"/>
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 style="text-align: center">登录系统</h3></div>
        <div class="panel-body">
          <form method="POST" action="{$actionUrl}">
            <div class="col-md-12">
              <div class="form-group">
                <label for="user">用户名:</label>
                <input name="username" id="user" class="form-control" type="text" placeholder="请输入您的用户名"/><br>
              </div>
              <div class="form-group">
                <label for="pwd">密码:</label>
                <input name="password" id="pwd" class="form-control" type="password" placeholder="请输入您的密码"/>
              </div>
            </div>
            <div class="col-md-offset-8 col-md-4">
              <button type="submit" class="btn btn-success">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="./Public/Tpl/footer.html"/>
</body>
</html>